#img-caption
{
  width: 400px;
}

#image
{
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

/* Hey, Josh, I brought the body styling over to the css!  */
body
{
  background-color: black;
  color: white;
  font-family: calibri;
}